*, *::before, *::after{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}
.container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.quiz{
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.quiz.quiz-container{
  max-width: 500px;
  width: 60vw;
  height: 50vh;
}

.quiz-allcards{
  position: relative;
}

.quiz.quiz-onecard{
  width: 100%;
  background-color: #ffc2ed;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-header{
  color: #fd4988;
}

.quiz.quiz-submit{
  background-color: #917aff;
  color: white;
}

.answer-wrapper{
  display: grid;
  margin: 10px;
  grid-gap: 10px;
}

.quiz.quiz-answer{
  background-color: #5ec6e8;
}

.quiz.quiz-answer:hover, .quiz.quiz-submit:hover{
  transform: scale(0.9, 0.9);
}

@media screen and (min-width: 500px){
  .answer-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}
