*, *::before, *::after{
  margin: 0;
  box-sizing: border-box;
}

.quiz.quiz-question{
  margin-bottom: 30px;
  padding: 40px;
}
.quiz.quiz-onecard{
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
}

.img-responsive{
  width: 200px;
  height: 200px;
}

.quiz.quiz-finalcard{
  width: 100%;
  background-color: #ffc2ed;
}

body{
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.quiz-allcards{
  position: relative;
}

.quiz{
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.quiz.show-answer{
  background-color: rgb(250, 220, 241);
  margin: 10px;
  text-align: left;
}

.quiz.quiz-container{
  max-width: 700px;
  width: 60vw;
  height: 50vh;
}

.quiz-header{
  color: #fd4988;
  text-align: left;
}

.quiz.quiz-submit{
  background-color: #917aff;
  color: white;
  width: 96%;
  font-size: 1em;
}

.answer-wrapper{
  display: grid;
  margin: 10px;
  grid-gap: 20px;
}

.quiz.quiz-answer:hover, .quiz.quiz-submit:enabled:hover{
  transform: scale(0.9, 0.9);
}

@media screen and (min-width: 500px){
  .answer-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}
